.intro {
    background-color: var(--intro);
    padding-inline: 150px ;
    padding-top: 155px;
    max-width: 100%;

}

.intro-text {
    max-width: 594px;
}

.intro__title {
    color: var(--primary-foreground);
}
.intro__description {
    color: #171717;
    margin-block: 28px 72px;
}

.into__actions {

}

.into__actions-menu {
    position: relative;
    display: flex;
    gap: 20px;
    width: 945px;
    background-color: var(--background);
    padding: 25px 25px;
    height: 92px;
    justify-content: space-between;
    border-radius: var(--rounded-base);
    box-shadow: 10px 22px 44px 0 #1B1D210F;
    align-items: center;
    z-index: 90;
}
.intro__actions-menu-text {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    gap: 4px;
}
.intro__actions-menu__item p {
    color: var(--gray);
}
.intro__actions-menu-text svg {
    font-size: 15px;
    color: #00CBF8;
}
.action-button {
    width: 185px;
    height: 62px;
}
.triangle {
    display: none;
    position: absolute;
    height: 47px;
    top: auto;
    left:0;
    width: 100%;
    background: white;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

@media screen and (max-width: 1140.98px) {
    .intro_decoration {
        display: none;
    }
}
@media screen and (max-width: 768.98px) {
    .intro__container{
        width: 100%;
    }
    .intro {
        padding-inline: 80px;
    }
}

