.support {
}
.support__container {
    position: relative;
    display: flex;
    gap: 235px;
}
@media screen and (max-width: 1140.98px) {
    .support__container {
        flex-direction: column;
        grid-template-columns: 1fr;
        align-items: center;
    }
}
.support__col-right {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: right;
    text-align: left;

}

@media screen and (max-width: 1140.98px) {
    .support__col-right {
        align-items: center;
    }
}
.support__col-img {
    max-width: 360px;
    height: 480px;
    object-fit: cover;
    border-radius: var(--rounded-base);
}
.support__grid {
    position: absolute;
    padding: 32px 24px 27px 24px;
    background-color: var(--background);
    border-radius: var(--rounded-base);
    bottom: 0;
    left: 0;
}

.support__grid-list {
    display: grid;
    row-gap: 4px;
}
.support__grid-title{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: var(--primary-foreground);
    margin-block: 20px 4px;
}
.support__grid-img img {
    --size: 36px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    object-fit: cover;
}
.support__grid-list-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-block: 11px;
}
.support__grid-text {
    display: grid;
    width: 100%;
    row-gap: 4px;
}
.support__grid-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.support__col-comment {
    display: grid;
    row-gap: 20px;
    border-radius: var(--rounded-base);
    background-color: #EDFCFF;
    padding: 24px;
    max-width: 460px;
}
.support-description{
    padding-block: 10px 24px;
}

.support__col-left {
    max-width: 460px;
}
.support__grid-item-name {
    color: var(--primary-foreground);
}
.support__col-comment-name {
    color: var(--primary-foreground);
    font-weight: 600;
}
.support__col-comment-text {
    line-height: 32px;
}
.support__grid-description p{
    margin-bottom: 24px;
    font-size: 16px;
}

.ri-user-fill {
    font-size: 16px;
    background-color: #F5F3FF;
    color: var(--primary);
    border-radius: 50%;
    padding: 11px;
}

.support__grid-list {
    display: grid;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--primary-foreground);
    gap:16px;
}

.support__grid-item {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.support-item-name {
    font-weight: 600;
}

.support_grid_information {
    display: flex;
    align-items: center;
    column-gap: 10px;
}


.support-item-strip {
    width: 92%;
    height: 6px;
    background: #FFF2E9;
    border-radius: var(--rounded-base);
}

.support-item-strip-fill {
    width: 174px;
    height: 100%;
    background: #FFA262;
    border-radius: var(--rounded-base);
}

.support-item-strip-fill-2 {
    width: 90%;
    height: 100%;
    background: #FF6F73;
    border-radius: var(--rounded-base);
}